/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/main.scss */
html {
  background-color: red;
}

/* line 7, ../sass/main.scss */
* {
  overflow: hidden;
}

/* line 11, ../sass/main.scss */
#gameinput {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 20px;
  font-size: 40px;
}

/* line 21, ../sass/main.scss */
#compo {
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 50px;
  bottom: 120px;
}

/* line 30, ../sass/main.scss */
#quote {
  top: 25%;
  width: 500px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  margin-left: -250px;
}

/* line 39, ../sass/main.scss */
#quoteForRemoval {
  top: 25%;
  font-size: 30px;
  position: absolute;
  margin-left: -150px;
}

/* line 47, ../sass/main.scss */
.quoteIn {
  -webkit-animation: fromLeft 1s linear;
  -webkit-animation-fill-mode: both;
}

/* line 52, ../sass/main.scss */
.quoteOut {
  -webkit-animation: fromCenterRight 1s linear;
  -webkit-animation-fill-mode: both;
}

/* line 57, ../sass/main.scss */
#heat {
  bottom: 95px;
  left: 0%;
  position: absolute;
  font-size: 30px;
}

/* line 64, ../sass/main.scss */
#time {
  bottom: 95px;
  left: 90%;
  position: absolute;
  font-size: 30px;
}

/* line 71, ../sass/main.scss */
.correct {
  color: green;
}

/* line 75, ../sass/main.scss */
.fail {
  color: red;
}

@-webkit-keyframes fromLeft {
  /* line 80, ../sass/main.scss */
  0% {
    left: -250px;
  }

  /* line 83, ../sass/main.scss */
  100% {
    left: 50%;
  }
}

@-webkit-keyframes fromCenterRight {
  /* line 89, ../sass/main.scss */
  0% {
    left: 50%;
  }

  /* line 92, ../sass/main.scss */
  100% {
    left: 150%;
  }
}
